.Navbar{
    position: fixed;
    width: 100%;
    height: 2.7rem;
    background-color: #f5624d;
    color: #ffffff;
    z-index: 100;
    box-shadow: 0 3px 4px #292930;
}
.Navbar-sub {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.logo {
    margin-left: 2rem;
    font-size: 1.7rem;
}@media screen and (max-width: 840px) {
    .logo {
        position: absolute;
        right: 2rem;
    }
}
.list {
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 2rem;
}@media screen and (max-width: 840px) {
    .list {
        display: none;
    }
}
.list li {
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: #ffffff;
}.list li:hover {
    color: #cc231e;
    transition: transform 1s ease;
    text-decoration: underline 1.7px #ffffff;
}

.Spacer{
    flex: 1;
}@media screen and (max-width: 840px) {
    .Spacer {
        display: none;
    }
}
.StyledLink{
    text-decoration: none;
    color: #ffffff;
}
.StyledLink:hover {
    color: #cc231e;
}
.Cart {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
}@media screen and (max-width: 840px) {
    .Cart {
        position: absolute;
        top: .7rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
.Cart .cartLogo {
    position: absolute;
    background-image: url('../../static/cart.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    z-index: 5;
}
.Cart .box {
    position: absolute;
}.Cart .box .counter {
    position: relative;
    top: -5px;
    left: 1.1rem;
    background-color: rgba(255, 251, 0, 0.914);
    box-shadow: 0 0 5px #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    font-weight: 800;
    color: #292930;
}

/* @BURGER_MENU styles */
.overSide {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
    z-index: 200;
    display: flex;
    align-items: center;
    
    transform: translateX(-100%);
    -webkit-transition: transform .3s ease-out;
    -moz-transition: transform .3s ease-out;
    -o-transition: transform .3s ease-out;
    transition: transform .3s ease-out;
}
.overSide.show {
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.7);
    transform: translateX(0);
}